asn1crypto==1.5.1
base58==1.0.2
bip-utils==2.9.3
bitcoinlib==0.6.15
blinker==1.8.2
cbor2==5.6.4
certifi==2024.7.4
cffi==1.17.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
coincurve==20.0.0
crcmod==1.7
cryptography==43.0.0
ecdsa==0.19.0
ed25519-blake2b==1.4.1
fastecdsa==2.3.2
filelock==3.16.1
Flask==3.0.3
Flask-Cors==4.0.1
fsspec==2024.9.0
future==1.0.0
idna==2.7
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mnemonic==0.21
mpmath==1.3.0
networkx==3.3
numpy==2.0.0
pandas==2.2.2
pillow==10.4.0
py-sr25519-bindings==0.2.0
pycparser==2.22
pycryptodome==3.20.0
PyNaCl==1.5.0
pynput==1.7.7
pyobjc-core==10.3.1
pyobjc-framework-ApplicationServices==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-CoreText==10.3.1
pyobjc-framework-Quartz==10.3.1
pyperclip==1.9.0
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.0.3
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.35
sympy==1.13.3
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.66.5
ttkbootstrap==1.10.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.24.3
Werkzeug==3.0.3
